.section__container {
    max-width: var(--max-width);
    padding: 0 var(--pd-page-side);
    margin: 0 auto;
}

header .link-active {
    color: var(--cl-primary);
}

.section {
    position: relative;
    padding: var(--pd-section-vertical) 0;
}

/* Free spaces parameter */

.param-value.low,
.param-value.medium,
.param-value.alot {
    font-weight: 600;
}

.param-value.low, .param-value.medium, .param-value.alot {
    color: var(--cl-white);
    border-radius: var(--border-radius);
    padding: 0 var(--pd-small);
    width: fit-content;

}

.param-value.low {
    background-color: var(--cl-red);
}

.param-value.medium {
    background-color: var(--cl-yellow-orange);
}

.param-value.alot {
    background-color: var(--cl-green);
}

/* Clickable links (not button style) */

.link-clickable {
    border-bottom: 1px solid currentColor;
    transition: var(--transition);
}

.link-clickable:hover {
    border-bottom-color: transparent;
}
