.layout__container {
}

.section__container {
  max-width: var(--max-width);
  padding: 0 var(--pd-page-side);
  margin: 0 auto;
}

header .link-active {
  color: var(--cl-primary);
}

.section {
  position: relative;
  padding: var(--pd-section-vertical) 0;
}



/* Free spaces parameter */

.param-value.low, .param-value.medium, .param-value.alot {
  font-weight: 600;
}


.param-value.low {
  color: red;

}

.param-value.medium{
  color: orange;
}

.param-value.alot{
  color: darkgreen;
}